<a href="https://colab.research.google.com/github/harshithgowdakc/NYC-Taxi-Data-/blob/main/Diabetes_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [141]:
db_df = pd.read_csv('/content/diabetes.csv')

Data Understanding

In [142]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [143]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm

In [47]:
db_df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [49]:
db_df.groupby(['Outcome']).mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [144]:
X = db_df.drop(columns = 'Outcome', axis = 1)
Y = db_df['Outcome']

In [145]:
X.shape

(768, 8)

In [146]:
Y.shape

(768,)

In [147]:
db_df.shape

(768, 9)

In [148]:
# FEATURE Scaling need to be done
Scaler = StandardScaler()
standization_data = Scaler.fit_transform(X)
X = standization_data

In [151]:
X_train,Y_train,X_test,Y_test = train_test_split(X, Y, test_size = 0.1, random_state = 2, stratify = Y)

In [149]:
X_train.shape

(691, 8)

In [150]:
Y_train.shape

(77, 8)

In [152]:
# metric evalution
classifier = svm.SVC(kernel = 'linear')

In [153]:
classifier.fit(X_train, Y_train)

ValueError: ignored

In [106]:
X_train.ndim

2

In [132]:
Y_train.ndim

2

In [119]:
X

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [139]:
Y = np.asarray(Y)
Y = Y.reshape(-1,1)

In [140]:
Y.ndim

2